$white: #fff;
$deep-blue: #4262FF;
$light-blue: #61B3E7;
$grey-blue: #9CC9E2;
$black: #262626;
$light-grey: #EEE;
$grey-1: #E0E0E0;
$grey-1-1: #D4D4D4;
$grey-1-2: #BFBEBE;
$grey-2: #9A9A9A;
$dark-grey: #676767;
$yellow: #F5BC29;
$red: #EF7564