.h1-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: calc(28 * var(--swpx));
  line-height: calc(34 * var(--swpx));
  color: $black;
}

.h2-font {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: calc(24 * var(--swpx));
  line-height: calc(29 * var(--swpx));
  color: $black;
}

.h3-font {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: calc(20 * var(--swpx));
  line-height: calc(24 * var(--swpx));
  color: black;
}

.h4-font{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: calc(16 * var(--swpx));
  line-height: calc(19.5 * var(--swpx));
  color: black;
}

.link1-font {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: calc(20 * var(--swpx));
  line-height: calc(24 * var(--swpx));
  color: $black;
}

.button-font-1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: calc(20 * var(--swpx));
  line-height: calc(24 * var(--swpx));
  color: $white;
}
.header-secondary-2-font{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: calc(24 * var(--swpx));
  line-height: calc(29 * var(--swpx));
  color: $grey-2;
}

.input-secondary-2-font{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: calc(24 * var(--swpx));
  line-height: calc(24 * var(--swpx));
  height: calc(22 * var(--swpx));
  padding-bottom: calc(4 * var(--swpx));
  color: $grey-2;
}

.input-2-font{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: calc(24 * var(--swpx));
  line-height: calc(24 * var(--swpx));
  height: calc(22 * var(--swpx));
  padding-bottom: calc(4 * var(--swpx));
  color: $black;
}

.secondary1-font {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: calc(20 * var(--swpx));
  line-height: calc(24 * var(--swpx));
  color: $dark-grey;
}
.secondary-2-font{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: calc(14 * var(--swpx));
  line-height: calc(17 * var(--swpx));
  color: $dark-grey;
}

.drop-down-label-1-font {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: calc(16 * var(--swpx));
  line-height: calc(20 * var(--swpx));
  color: $grey-2;
}
.drop-down-item-1-font {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: calc(16 * var(--swpx));
  line-height: calc(20 * var(--swpx));
  color: $black;
}

$span-gap-1: 1rem;
$span-gap-2: 2rem;