$main-container-width: 1620;
.main-container{
  width: calc($main-container-width * var(--swpx));
}
.controls-container{
  @extend .main-container;
}
.main-header-container{
  @extend .main-container;
}
.tasks-container{
  @extend .main-container;
}
.center-x{
  display: flex;
  width: 100%;
  justify-content: center;
}
$column-width: 300;